/* ********Custom Properties******* */
:root {
  --first-color: rgb(241, 154, 86);
  --second-color: rgb(255, 189, 137);
  --third-color: rgb(245, 200, 70);
  --service-color: rgb(106, 121, 255);

  --bg-alpha-color: rgba(245, 245, 245, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *****Reset Styles****** */
body {
  font-family: 'Kiwi Maru', serif;
}

a {
  transition: all 0.3s ease-out;
}
a:hover {
  color: black;
}

textarea {
  height: 40%;
  width: 100%;
  resize: none;
}

/* ****** Bootstrap Styles ********** */

.active {
  color: var(--first-color);
}
.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 0, 98, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}

.nav-item a {
  text-align: center;
  transition: all 0.15s ease-out;
  font-weight: bold;
}
.nav-item a:hover {
  transform: scale(1.2);
}

.dropdown-menu li :hover {
  transform: scale(1);
}

/* ******* My Styles ********** */

.bg-hero-image {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-primary-color {
  background-color: var(--first-color);
}

.bg-secondary-color {
  background-color: var(--second-color);
}

.bg-third-color {
  background-color: var(--third-color);
}

.bg-service-color {
  background-color: var(--service-color);
}

.btn-disabled {
  display: none;
}

.btn1-bg-color {
  background-color: var(--first-color);
}

.btn2-bg-color {
  background-color: var(--second-color);
}

.bg-hero-image {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.formulario-perfil {
  width: 75%;
  border-radius: 1rem;
  border: 2px solid var(--second-color);
  box-shadow: 0px 0px 10px 0px var(--second-color);
}

.img-servicios-1 {
  width: auto;
  height: 12rem;
}

.img-servicios-3 {
  width: auto;
  height: 24rem;
}

.main-content {
  min-height: 75vh;
}

.navbar-bg-color {
  background-color: white;
}

.navbar-brand img {
  height: 3rem;
  width: auto;
}

.nav-shadow {
  -webkit-box-shadow: 0px 11px 24px -14px rgba(36, 36, 63, 1);
  -moz-box-shadow: 0px 11px 24px -14px rgba(36, 36, 63, 1);
  box-shadow: 0px 11px 24px -14px rgba(36, 36, 63, 1);
}

.perfil {
  background-image: url('../img/fondo_garras_perfil.jpeg');
  background-size: cover;
}

.registro a {
  font-weight: bold;
  align-self: center;
}

.registro:hover {
  color: white;
  background-color: black;
}

.required:after {
  content: ' *';
  color: red;
}
.contact-submit input:hover {
  color: white;
  background-color: black;
}

.reseñas img {
  height: 5rem;
}

.service-bg-color {
  background-color: var(--service-bg-color);
}

.service-text-color {
  color: #ffffff;
}

.ver-equipo {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .formulario-perfil {
    width: 40%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item:hover {
    background-color: transparent;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
