/* Pagina Principal */
/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Poppins:wght@500&display=swap');
/*=============== VARIABLES CSS ===============*/

.section-ing {
  background-color: #ffbd89;
}

.imagen-login img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.formulario {
  width: 75%;
}
